/gxpengine_template/bin/Debug/*.dll
/gxpengine_template/bin/Debug/*.pdb
/gxpengine_template/bin/Debug/*.exe
/gxpengine_template/bin/Debug/*.xml
/gxpengine_template/bin/Debug/*.cache
/packages
/gxpengine_template/packages.config
/gxpengine_template/obj
/.vs
.vs/gxpengine_template/v17/.suo

gxpengine_template/MyClasses/Modules/Module_Pump_Visual2.cs
